/*
Replace this example stylesheet with your own.
Please try to keep the code formatting nice.

We want to see a sensible mobile-first, responsive design.
This means the default styles are for the smallest mobile size.
*/

/* Multi-line rulesets must use whitespace for indentation consistently. */
body {
	/* note the indentation here */
	/* background-color: #5bf; */

		/* background-position: center; */

}


.pics {

	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	animation: animate 14s ease-in-out infinite;
	background-size: cover;

}

.heading {

	background-image: url("C:/Users/Hp/Desktop/Front End Lab Work/Treetop.png");
	background-repeat: no-repeat;
	position: absolute;
	background-size: 20%;
	background-position: center top;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;

}

@keyframes animate {

	0%,100%{
		background-image: url("C:/Users/Hp/Desktop/Front End Lab Work/golfnew.jpg");
	}
	25%{
		background-image: url("C:/Users/Hp/Desktop/Front End Lab Work/Students.jpg");
	}
	50%{
		background-image: url("C:/Users/Hp/Desktop/Front End Lab Work/Cocktails.jpg");
	}
	75%{
		background-image: url("C:/Users/Hp/Desktop/Front End Lab Work/Pizza.jpg");
	}

}



/* One-liners are fine for very simple rulesets. */
h1 { font-family: sans-serif;}

/*
You will probably need at least two media queries to handle larger screens.
Your queries should be configured to work with your content
*/
@media screen and (min-width: 457px) {
	/* Code inside media queries should be indented one step further. */
	body { font-size: 1.2em }
}
/*
We don't want to see a min-width of 457px in your code
This was chosen to match the template content.
*/
